<div class="container container-fluid">
  <header>
    <img>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">JUNK-TION</a>
        </div>
        <ul class="nav navbar-nav">
          <li role="presentation" class="nav-link">
            <a routerLink="/profile">PROFILE</a>
          </li>
          <li role="presentation" class="nav-link">
            <a routerLink="/contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
  <footer class="card">
    <div>Copyright © <a routerLink="/" title="JUNK-TION" rel="home">JUNK-TION </a>All Rights Reserved.
    </div>
  </footer>
</div>
